<% if (errorMessages.length > 0) { %>
  <div class="alert alert-danger ">
    <%= errorMessages.join('<br />') %>
  </div>
  <% } %> <% if (successMessages.length > 0) { %>
  <div class="alert alert-success">
    <%= successMessages.join('<br />') %>
  </div>
  <% } %>