<section id="setorFormContainer">
  <div class="mainFormContainer">
    <h1 class="text-center">Setores</h1>
    <p class="text-center lead">Gerencie seus setores abaixo.</p>
    <div class="cabecalhoForm">
      <button
        class="btn btnCadastro"
        onclick="return botaoListaSetorNovoClick()"
      >
        <i class="bi bi-plus-lg"></i>
      </button>
      <button class="btn btnCadastro">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
    <div class="responsive-table">
      <table class="table my-3 table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Os dados dos setores serão preenchidos aqui -->
        </tbody>
      </table>
    </div>
  </div>
</section>


